.graph-database {
  height: 100%;
  overflow: scroll;


  &-title {
    font-size: 20px;
  }


  &-search {
    margin: 24px;
    text-align: right;
  }

  &-table {

    :global {
      .ant-btn {
        padding: 5px;
      }
    }
  }
}